<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/restaurant.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="/sucursales">Sucursales</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/admin/login">Admin Login</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
